<head>
    <link rel="stylesheet" href="/css/style.css">
  </head>
  
<h2>Alumni - GradConnect</h2>
<a href="/alumni/register"><button>Register</button></a>
<a href="/alumni/login"><button>Login</button></a>
